@{
    ViewData["Title"] = "Add Tasks";
}

@model Mission6.Models.ToDoItem;


<h1 class="text-center">Add Task</h1>

<!--Input form to add tasks-->
<form method="post" class="text-center form">

    <!--Show data validation errors-->
    <div asp-validation-summary="All"></div>

    <!--Task Description-->
    <label class="form-label text-center" asp-for="Task">Task Description: </label>
    <input class="form-control" asp-for="Task" />

    <!--Due Date-->
    <label class="form-label text-center" asp-for="DueDate">Due Date: </label>
    <input class="form-control" asp-for="DueDate" />

    <!--Choose Quadrant-->
    <label class="form-label text-center" asp-for="Quadrant">Quadrant: </label><br />
    <select class="custom-select" asp-for="Quadrant">
        <option value="">Choose a Quadrant</option>
        <option value="1">Quadrant 1</option>
        <option value="2">Quadrant 2</option>
        <option value="3">Quadrant 3</option>
        <option value="4">Quadrant 4</option>
    </select>

    <!--Choose Category-->
    <label class="form-label text-center" asp-for="CategoryId">Category: </label><br />
    <select class="custom-select" asp-for="CategoryId">
        <option value="">Choose a category</option>

        <!--Loop through each category to populate the drop down (feel free to change the variable names as needed)-->
        @foreach (Category c in ViewBag.Category)
        {
            <option value="@c.CategoryId">@c.CategoryName</option>
        }
    </select>

    <!--Completed-->
    <label class="form-label text-center" asp-for="Completed">Completed: </label><br />
    <select class="custom-select" asp-for="Completed">
        <option value="false">No</option>
        <option value="true">Yes</option>
    </select>


    <button type="submit" style="margin-top: 10px;" class="btn btn-primary">Add Task</button>


    <!--Hidden input containing Id value-->
    <input type="hidden" asp-for="ToDoItemId" />

</form>