@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="text-center">
    <h1 class="display-4 text-center">Learn More About Time Management</h1>
    <br /><br />

    <h3>Stephen Covey's Time Management Matrix</h3><br />
    <img src="~/img/Matrix.png" width="500" />
</div>
